In [1]:
#Project 1
import pandas as pd
# import numpy as np
import jax.numpy as jnp
import matplotlib.pyplot as plt

/opt/homebrew/lib/python3.9/site-packages/jax/_src/lib/__init__.py:34: UserWarning: JAX on Mac ARM machines is experimental and minimally tested. Please see https://github.com/google/jax/issues/5501 in the event of problems.
  warnings.warn("JAX on Mac ARM machines is experimental and minimally tested. "

# Question 1: Reading and formatting dataset

In [2]:
#1.1
df = pd.read_csv("GermanCredit.txt", sep ="\s+", header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,12,2,17,1,4,2,4,1,31,...,0,0,1,0,0,1,0,1,0,1
996,1,30,2,39,1,3,1,4,2,40,...,0,1,1,0,0,1,0,0,0,1
997,4,12,2,8,1,5,3,4,3,38,...,0,0,1,0,0,1,0,0,1,1
998,1,45,2,18,1,3,3,4,4,23,...,0,0,1,0,0,0,0,0,1,2
999,2,45,4,46,2,1,3,4,3,27,...,0,1,1,0,0,1,0,0,1,1

In [3]:
#1.2
df[24] = df[24] - 1
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,0
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,1
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,0
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,0
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,12,2,17,1,4,2,4,1,31,...,0,0,1,0,0,1,0,1,0,0
996,1,30,2,39,1,3,1,4,2,40,...,0,1,1,0,0,1,0,0,0,0
997,4,12,2,8,1,5,3,4,3,38,...,0,0,1,0,0,1,0,0,1,0
998,1,45,2,18,1,3,3,4,4,23,...,0,0,1,0,0,0,0,0,1,1
999,2,45,4,46,2,1,3,4,3,27,...,0,1,1,0,0,1,0,0,1,0

In [4]:
y_train = df.loc[:M-1, d]
y_test = df.loc[M:, d]

x_train = df.loc[:M-1, :d-1]
x_test = df.loc[M:, :d-1]

In [5]:
#1.3
from sklearn.preprocessing import StandardScaler

In [6]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)
x_train.shape

(800, 24)

In [7]:
x_train.shape

(800, 24)

In [8]:
#1.4
ones_train = jnp.ones((M, 1))
ones_test = jnp.ones((length-M, 1))
x_train = jnp.concatenate((ones_train, x_train), axis=1)
x_train.shape

WARNING:absl:No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)

(800, 25)

In [9]:
x_test = jnp.concatenate((ones_test, x_test), axis=1)
x_test.shape

(200, 25)

In [10]:
jnp.mean(x_train, axis=0), jnp.std(x_train, axis=0)

(DeviceArray([ 1.00000000e+00,  5.36441780e-09,  3.57627861e-09,
               1.19209287e-09,  2.38418574e-09, -7.15255721e-09,
              -3.93390636e-08, -2.68220890e-09,  1.07288356e-08,
              -3.06963912e-08, -1.07288356e-08,  2.02655794e-08,
              -3.75509259e-08, -2.14576712e-08, -5.12599918e-08,
               3.87430177e-08,  1.47521488e-08,  2.38418574e-09,
               3.36766242e-08,  1.78813924e-08,  3.72529030e-09,
               0.00000000e+00,  3.57627861e-09,  2.68220894e-08,
              -1.40070915e-08], dtype=float32),
 DeviceArray([0.        , 1.0000001 , 1.        , 0.9999999 , 1.        ,
              1.        , 1.        , 1.        , 1.        , 1.        ,
              0.99999994, 1.0000001 , 0.9999999 , 1.0000001 , 0.99999994,
              0.99999994, 1.0000002 , 0.9999997 , 0.99999994, 1.        ,
              0.99999994, 1.        , 1.0000001 , 1.        , 1.0000001 ],            dtype=float32))

# Question 2: Model specification

In [11]:
#2.1
import jax.numpy as jnp
from jax import grad, jit, vmap

In [12]:
#2.2

In [13]:
#2.3

In [17]:
#2.4
import numpy as np
def loglikelihood(beta):
    x_beta = np.matmul(x_train, beta)
    output = np.sum(y_train * x_beta - np.log(1 + np.exp(x+beta)))
    return output

@jit
def loglikelihood_jax(beta):
    x_beta = jnp.matmul(x_train, beta)
    output = jnp.sum(y_train * x_beta- jnp.log(1+jnp.exp(x_beta)))
    return output

jit_likelihood_jax = jit(loglikelihood_jax)
beta = np.random.randn(D)

NameError: name 'D' is not defined

In [ ]:
#2.5

In [32]:
#2.6
from jax.scipy.stats.multivariate_normal import logpdf as jlogpdf
Sigma =